.Login {
  background: white;
  text-align: center;
  color: black;
  padding: 4rem;
}

.Login h1 {
  color: #6966bf;
}

.Login input,
.Login button {
  margin: 0.75rem auto;
  min-width: 100%;
  border: .5px solid	#D3D3D3;
  min-height: 2rem;
  border-radius: 5px;
}

.Login button{
  background-color: #3a86ba;
  color: #fff;
  border: none; 
}

.Login button:hover {
  cursor: pointer;
}

@media (max-width:400px){
  .App{
    align-items:flex-start;
    overflow-y: auto;
  }
}